In [ ]:
A database is a structured collection of data, typically stored electronically in a computer system. It is designed to store and retrieve data quickly and efficiently.


SQL (Structured Query Language) databases are relational databases that use structured query language (SQL) for defining and manipulating data. They are organized into tables, fields, and records. SQL databases are used for storing and managing data in an organized manner.


NoSQL (Not Only SQL) databases are non-relational databases that do not use structured query language (SQL). These databases are used for storing large amounts of unstructured data and can be used for applications such as web-scale databases, document stores, key-value stores, graph databases, and more. NoSQL databases are often more flexible than SQL databases and can scale easily to meet the needs of large applications.

In [ ]:
DDL stands for Data Definition Language. It is a language used to define the structure of a database. It is used to create, modify, and delete database objects such as tables, views, indexes, and users.


CREATE is used to create a new database object such as a table or view. For example: CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(50));


DROP is used to delete an existing database object such as a table or view. For example: DROP TABLE customers;


ALTER is used to modify an existing database object such as a table or view. For example: ALTER TABLE customers ADD address VARCHAR(100);


TRUNCATE is used to delete all the data from an existing table. For example: TRUNCATE TABLE customers;

In [ ]:
DML stands for Data Manipulation Language. It is used to manipulate data in a database.


INSERT: This statement is used to add new records to a table. For example, if we want to add a new student record to a table called “students”, we can use the following statement:


INSERT INTO students (name, age, gender) VALUES ('John', 20, 'M');


UPDATE: This statement is used to modify existing records in a table. For example, if we want to update the age of the student John to 21, we can use the following statement:


UPDATE students SET age = 21 WHERE name = 'John';


DELETE: This statement is used to delete existing records from a table. For example, if we want to delete the student John from the table, we can use the following statement:


DELETE FROM students WHERE name = 'John';

In [ ]:
DQL stands for Data Query Language. It is a language used to query data from a database. SELECT is the most commonly used DQL command, which is used to retrieve data from a database.


For example, if you wanted to retrieve all the records from the "Customers" table, you could use the following SELECT statement:


SELECT * FROM Customers;


This statement would return all the records from the Customers table.

In [ ]:
A primary key is a field in a table which uniquely identifies each row/record in a database table. Primary keys must contain unique values and cannot be null. A foreign key is a field in a table that is used to establish a link between two tables. It acts as a cross-reference between the two tables and is used to identify the relationship between them. A foreign key in one table points to a primary key in another table.

In [ ]:
#Connecting MySQL to Python


import mysql.connector


Create a connection object


myconn = mysql.connector.connect(host="localhost", user="root", passwd="password")


Creating a cursor object


cur = myconn.cursor()


Executing the SQL query


cur.execute("SELECT * FROM Student")


Fetching all the records from the cursor object


result = cur.fetchall()


Printing the result


print(result)


#Cursor() Method:

The cursor() method is used to create a cursor object which is used to execute SQL commands. The cursor object is used to traverse through the records from the result set. The cursor object can also be used to fetch limited number of rows from the result set.


#Execute() Method:

The execute() method is used to execute an SQL query. It takes an SQL query as an argument and executes it. It returns a number of rows affected by the query.

In [ ]:
FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT